<header>
    <form method="post" action="/search">
        <div class="group" >
            <input type="text" name="search" placeholder="Pokemon name" id="name" >
            <label for="name">Pokemon name</label>
        </div>
    </form>
</header>